<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="2.2.2" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="EntityFramework.zh-Hans" version="5.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="Ninject.Extensions.NamedScope" version="3.0.0.5" targetFramework="net40" />
  <package id="ScriptSharp" version="0.7.5.1" targetFramework="net40" />
</packages>